<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="main" th:fragment="footerFragment">
	<section class="section-padding footer-mid">
		<div class="container pt-15 pb-20">
			<div class="row text-center">
				<div class="col-3">
					<div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
						<div class="logo mb-30">
							<a href="index.html" class="mb-15"><img th:src="@{/userassets/imgs/theme/logo.svg}" alt="logo" /></a>
							<p class="font-lg text-heading">팀장: 홍길동</p>
						</div>
						<ul class="contact-infor">
							<li>간단한 자기소개</li>
							<li>본인 기능</li>
							<li><img th:src="@{/userassets/imgs/theme/icons/icon-email-2.svg}" alt="" /><strong>Email:</strong><span>sale@Nest.com</span></li>
						</ul>
					</div>
				</div>
				<div class="col-3">
					<div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
						<div class="logo mb-30">
							<a href="index.html" class="mb-15"><img th:src="@{/userassets/imgs/theme/logo.svg}" alt="logo" /></a>
							<p class="font-lg text-heading">팀원: 홍길동</p>
						</div>
						<ul class="contact-infor">
							<li>간단한 자기소개</li>
							<li>본인 기능</li>
							<li><img th:src="@{/userassets/imgs/theme/icons/icon-email-2.svg}" alt="" /><strong>Email:</strong><span>sale@Nest.com</span></li>
						</ul>
					</div>
				</div>
				<div class="col-3">
					<div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
						<div class="logo mb-30">
							<a href="index.html" class="mb-15"><img th:src="@{/userassets/imgs/theme/logo.svg}" alt="logo" /></a>
							<p class="font-lg text-heading">팀원: 홍길동</p>
						</div>
						<ul class="contact-infor">
							<li>간단한 자기소개</li>
							<li>본인 기능</li>
							<li><img th:src="@{/userassets/imgs/theme/icons/icon-email-2.svg}" alt="" /><strong>Email:</strong><span>sale@Nest.com</span></li>
						</ul>
					</div>
				</div>
				<div class="col-3">
					<div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
						<div class="logo mb-30">
							<a href="index.html" class="mb-15"><img th:src="@{/userassets/imgs/theme/logo.svg}" alt="logo" /></a>
							<p class="font-lg text-heading">팀원: 홍길동</p>
						</div>
						<ul class="contact-infor">
							<li>간단한 자기소개</li>
							<li>본인 기능</li>
							<li><img th:src="@{/userassets/imgs/theme/icons/icon-email-2.svg}" alt="" /><strong>Email:</strong><span>sale@Nest.com</span></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</footer>
</html>