<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div id="search" th:fragment="searchFragment(cateList)">
        <select id="searchKey">
            <option th:if="${cateList != null}"
                    th:each="l : ${cateList}"
                    th:value="${l.searchKey}"
                    th:text="${l.searchText}">

            </option>
        <!--    <option value="memberId">회원아이디</option>
            <option value="memberName">회원이름</option>
            <option value="memberAddr">회원주소</option>-->
        </select>
        <input type="text" id="searchValue" placeholder="입력"/>
        <button type="button" id="searchBtn">검색</button>
    </div>
</html>