<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	<!-- ~{layout/default} ==  src/main/resources/templates/layout/default.html -->
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
	</head>
	
	<th:block layout:fragment="customContent">
		<div th:insert="~{fragments/search :: searchFragment (${searchCate})}"></div>
		<table>
			<thead>
				<tr>
					<th>회원아이디</th>
					<th>회원비밀번호</th>
					<th>회원등급</th>
					<th>회원이름</th>
					<th>회원주소</th>
					<th>회원이메일</th>
					<th>회원등록일자</th>
					<th>수정</th>
					<th>삭제</th>
				</tr>
			</thead>
			<tbody id="tBody">
				<tr th:unless="${memberList != null}">
					<td colspan="9">등록된 회원의 정보가 없습니다.</td>
				</tr>
				<tr th:if="${memberList != null}" th:each="l : ${memberList}">
					<td th:text="${l.memberId}"></td>
					<td th:text="${l.memberPw}"></td>
					<td th:text="${l.memberLevelName}"></td>
					<td th:text="${l.memberName}"></td>
					<td th:text="${l.memberAddr}"></td>
					<td th:text="${l.memberEmail}"></td>
					<td th:text="${l.memberRegDate}"></td>
					<td>
						<a th:href="@{/member/modifyMember(memberId=${l.memberId})}">수정</a>
					</td>
					<td>
						<a th:href="@{/member/removeMember(memberId=${l.memberId})}">삭제</a>
					</td>
				</tr>
			</tbody>
		</table>	
	</th:block>
	
	<th:block layout:fragment="customJsFile">
		<script th:src="@{/js/jquery-3.7.1.js}"></script>
	</th:block>
	
	<th:block layout:fragment="customJs">
		<script th:inline="javascript">
			const msg = [[${msg}]];
			if(msg) alert(msg);

			$('#searchBtn').click(function (){
				const searchKey = $('#searchKey').val();
				const searchValue = $('#searchValue').val();
				const searchObj = {searchKey, searchValue};
				console.log(searchObj);
				const request = $.ajax({
					url : '/member/searchList',
					method : 'POST',
					contentType : 'application/json; charset=utf-8',
					data : JSON.stringify(searchObj),
					dataType : 'json'
				});
				request.done(function(data) {
					const parseArr = data.map(item => {
						const memberId = item.memberId;
						const memberPw = item.memberPw;
						const memberLevelName = item.memberLevelName;
						const memberName = item.memberName;
						const memberAddr = item.memberAddr;
						const memberEmail = item.memberEmail;
						const memberRegDate = item.memberRegDate;
						return { memberId,
								memberPw,
								memberLevelName,
								memberName,
								memberAddr,
								memberEmail,
								memberRegDate }

					});
				$('#tBody').empty();
				parseArr.forEach(item => {
					const $tr = $('<tr></tr>');
					for (const key in item) {
						const $td = $('<td></td>').text(`${item[key]}`);
						$tr.append($td);
					}

					const $modifyA = $('<a></a>', { 'href' : `/member/modifyMember?memberId=${item.memberId}`});
					$modifyA.text('수정하기');
					const $removeA = $('<a></a>', { 'href' : `/member/removeMember?memberId=${item.memberId}`});
					$removeA.text('삭제하기');
					const $modifyTd = $('<td></td>').append($modifyA);
					const $removeTd = $('<td></td>').append($removeA);
					$tr.append($modifyTd);
					$tr.append($removeTd);
					$('#tBody').append($tr);

				})

				});
				request.fail(function(jqXHR, textStatus, error){
					console.log(error);
				})
			})




		</script>
	</th:block>
</html>








